
<% @tweets.each do |tweet|%>
 <div class="content">
   <% if user_signed_in? && current_user.id == tweet.user_id %>
          <ul class="more_list">
            <li>
              <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
            </li>
             <li>
              <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
            </li>
          </ul>
      <% end %>
 <%= simple_format(tweet.text) %>
 </div>
<% end %>
