 <%= form_tag('/tweets', method: :post) do %>
 　<div class = "text">
    <textarea name="text" placeholder="本文" rows="5" cols="135"></textarea>
   </div>
    <p><input class="hover" type="submit" value="送信"></p>
 <% end %>

